*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(./images/AnimeX_1093670.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.logo{
    width: 150px;
    cursor: pointer;
}

.navbar{
    width: 85%;
    height: 17%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

button{
    color:#fbfcfd;
    padding: 10px 30px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform:translateY(-50%);
    z-index: 2;
}

.h1{
    font-size: 40px;
    margin:10px 0 30px;
    line-height: 80px;
}

.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    position: absolute;
    right: 0;
    top: 0;
}

.menu{
    display: block;
    width: 25px;
    margin: 40px;
    cursor: pointer;
}

.social-links img, .useful-links img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}

.social-links{
    width: 50px;
    text-align: center;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}