*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(images/AnimeX_1093670.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    animation: animate 16s ease-in-out infinite;
}

.hero::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(25, 19, 19);
    opacity: 0.5;
}

.logo{
    width: 150px;
    cursor: pointer;
}

.navbar{
    width: 85%;
    left: 0;
    height: 17%;
    margin: auto;
    padding:1px 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: 0.3s ease;
}

button{
    color:#fbfcfd;
    padding: 10px 30px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform:translateY(-50%);
    z-index: 2;
}

.content button::after{
    display: inline-block;
    background-color: #ffff;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #0000;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.content button:hover{
    background-color: rgb(19, 15, 15);
}

.h1{
    font-size: 40px;
    margin:10px 0 30px;
    line-height: 80px;
}

.side-bar{
    width: 50px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}

.menu{
    display: block;
    width: 25px;
    margin: 40px;
    cursor: pointer;
}

.social-links img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}

.social-links img::after{
    display: inline-block;
    background-color: #ffff;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #0000;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.social-links img:hover{
    background-color: rgb(24, 19, 19);
    border-radius: 20px;
}

.social-links{
    width: 50px;
    text-align: center;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

/*.tool img{
    width: 50px;
    animation: fire 7s linear infinite;
}

.tool{
    width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -80px;
}

@keyframes animate {
    0%,100%{
        background-image: url(images/AnimeX_1093670.jpeg);
    }
    25%{
        background-image: url(images/gojou.jpg);
    }
    50%{
        background-image: url(images/kurred.jpg);
    }
    70%{
        background-image: url(images/AnimeX_1113492.jpeg);
    }
    90%{
        background-image: url(images/dante.jpg);
    }
}

@keyframes fire {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{   
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.tool img:nth-child(1){
    animation-delay: 2s;
}
.tool img:nth-child(2){
    animation-delay: 1s;
}
.tool img:nth-child(3){
    animation-delay: 3s;
}
.tool img:nth-child(4){
    animation-delay: 4.5s;
}
.tool img:nth-child(5){
    animation-delay: 3.5s;
}
.tool img:nth-child(6){
    animation-delay: 1.5s;
}
.tool img:nth-child(7){
    animation-delay: 5s;
}



.hero img:nth-child(1){
    animation-delay: 3s;
}
.hero img:nth-child(2){
    animation-delay: 4s;
}
.hero img:nth-child(3){
    animation-delay: 3s;
}
.hero img:nth-child(4){
    animation-delay: 4.5s;
}
.hero img:nth-child(5){
    animation-delay: 3.5s;
}*/

.menu-items a{
    margin-right: 40px;
    position: relative;
    display:inline-flex;
    font-size: 1em;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s ease;
    cursor: pointer;
}

.menu-items a::before{
    position: absolute;
    content: "";
    bottom:0;
    left:0;
    width: 0%;
    height: 3px;
    background-color: #000;
    transition: 0.3s ease;
}

.menu-items a:hover::before{
    width: 100%;
}

.right-col{
    float: right;
    margin-left: 800px;
    margin-top: 40px;
    display:flex;
    align-items: center;
}

.right-col p{
    font-size: 18px;
    color:#fbfcfd;
    font-weight: 400;
    margin-right: 15px;
}

#icon{
    width: 40px;
    cursor: pointer;
    border-radius: 130px;
    background: transparent;
}